{% load static %}
<div class="header_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="contact_main">
          <div class="contact_left">
            <div class="call_text"><a href="#"><img src="{% static 'domophone/images/call-icon.png' %}"><span class="call_text_left">Номер телефона</span></a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="logo"><a href="index.html"><img src="{% static 'domophone/images/logo.png' %}"></a></div>
      </div>
      <div class="col-sm-5">
        <div class="contact_main">
          <div class="contact_left">
            <div class="call_text"><a href="#"><img src="{% static 'domophone/images/mail-icon.png' %}"><span class="call_text_left">Почта</span></a></div>
          </div>
          <div class="contact_right">
            <div class="call_text"><a href="#"><img src="{% static 'domophone/images/map-icon.png' %}"><span class="call_text_left">Адрес</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>